body{
    overflow-x: hidden;
}
.navbar-brand {
    font-family: "Cookie", cursive;
    font-size: 50px !important;
    font-weight: 500;
    margin-left: 20px;
}
.navbar-nav{
  gap: 50px;  
}
.navbar-nav .nav-link {
    font-size: 19px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
    
}

.btn-book-link {
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
    color: #000;
    text-decoration: none;
}

/*------------Hero Section--------*/
#lock-icon {
    margin-right: 15rem;
  }
  .main-hero-section {
    position: relative;
    padding-top: 150px;
    padding-left: 15%;
    width: 100%;
    height: 160vh;
    background-image: url("/images/picture-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 135px 0px;
  }
  .skew {
    position: relative;
    margin-top: -6rem;
    transform: skewY(7deg);
    background-color: white;
    height: 14rem;
  }

  .hero-sumary-container{
    color: white;
  }
  .hero-title {
    width: 127px;
  }
  .hero-sumary-container h1 {
    font-size: 130px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-weight: 100;
  }
  .hero-sumary-container p{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero-time-slot {
    position: absolute;
    right: -190px;
    margin-top: -50px;
    transform: rotate(90deg);
    height: 1px;
    margin: 0 auto;
    font-family: "Cinzel", serif;
  }
  .hero-services-link{
    padding: 20px;
    font-size: 20px;
    width: 200px;
    height: 8vh;
    background: #000;
  }
  .hero-services-link a {
    text-decoration: none;
    color: #fff;
    padding-left: 1px;
  }
  .hero-secondary-summary {
    position: relative;
    margin-top: 12px;
  }
  .hero-secondary-title {
    position: absolute;
    z-index: 3;
    padding-top: 20px;
    padding-right: 10px;
    height: 37vh;
    width: 350px;
    background-color: #000;
    color: #fff;
  }
  .hero-secondary-title h3 {
    font-size: 23px;
    padding-left: 20px;
    padding-top: 25px;
  }
  .hero-secondary-title p {
    padding-left: 20px;
    font-size: 25px;
  }
  .hero-secondary-title strong {
    font-size: 30px;
  }
  .hero-secondary-context {
    border-left: 5px solid #fff;
    height: 8vh;
  }
  .btn-online-link {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    width: 180px;
    height: 7vh;
    padding: 18px;
    font-size: 17px;
    background-color: #fff;
  }
  .btn-online-link a {
    padding-left: 5px;
    text-decoration: none;
    color: #000;
  }

  .hero-navigations{
    position: absolute;
    bottom: -280px;
    left: 1490px;
    color: #fff;
    font-size: 48px;
  }
  .hero-navigations i {
    margin-right: 5px;
  }

/*------------Services Section--------*/

.services-section-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px; 
    gap: 50px;
}
.services-summary-context {
    width: 480px;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 50px;
    position: relative;
}
#service-summary {
    margin-left: 25px;
}
.services-summary-context h3{
    font-family: "Cinzel", serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.services-summary-context i {
    font-size: 50px; 
}


.services-summary-context::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 182px;
    width: 50px; 
    height: 50px; 
    background-color: #cccccc41; 
    border-radius: 50%;
    z-index: 1; 
}

/*------------Momentum Section--------*/
.momentum-details-container {
    display: flex;
    flex-direction: row;
    background-color: #F3F4F6;
    height: 74vh;
  }
  .momentum-sumary-context {
    margin-right: 20px;
    width: 25%;
    margin-top: 20px;
    margin-left: 42px;
    margin-right: 190px;
  }
  .momentum-sumary-text{
    width: 80%;
  }
  .momentum-sumary-text h2 {
    font-size: 40px;
    width: 190%;
    margin-bottom: 0;
  }
  .momentum-paragraph{
    width: 79%;
  }
  .momentum-paragraph p {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 190%;
    font-size: 13px;
    line-height: 1.9;
  }
  .read-more-link{
    padding: 15px;
    padding-left: 20px;
    width: 190px;
    height: 7vh;
    background: black;
    margin-top: -10px;
  }
  .read-more-link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
.momentum-img-context {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
  }
  .momentum-img-context img{
    margin-top: -25px;
  }
  .momentum-img-context i {
    position: absolute;
    top: 140px;
    right: 275px;
    font-size: 70px;
    color: #000;
  }
 
/*--------Stylists Section----------*/
.stylist-list-container {
    display: flex;
    flex-direction: row;
    height: 52vh;
    gap: 50px;
    margin-left: -270px;
  }
  .stylists-primary-context{
    margin-left: 28%;
  }
  .stylists-primary-context,.stylists-secondary-context, .stylists-tertiary-context {
    position: relative;
    width: 19%;
    margin-top: 25px;
  }
  .stylist-img-context{
    width: 370px;
    height: 45vh;
  }
  .stylists-details {
    position: absolute;
    bottom: 20px;
    left: 90px;
    width: 152px;
    height: 9vh;
    background-color: black;
    color: white;
  }
  .stylists-details-names{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .peeps p{
    display: block;
    font-size: 14px;
    padding-top: 10px;
  }
  
  
  .stylists-details-names a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }


/*-------------Copon Section-----------------*/
.coupon-context-section {
    background-image: url("/images/copon-picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1300px;
    height: 74vh;
    margin-left: 40px;
    margin-bottom: 100px;
  }
  .coupon-title {
    font-family: "Cinzel", serif;
    color: #000;
    font-weight: bolder !important;
    margin-left: 50px;
    padding-top: 50px;
    margin-top: 70px;
  }
  .coupon-content-text{
    margin-top: 60px;
    font-size: 50px;
    width: 65%;
    font-weight: 500 !important;
    margin-bottom: 60px;
  }
  .coupon-content-text strong {
    font-size: 65px;
    font-weight: bolder;
  }
  .appointment-link a{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 20px 40px;
    font-size: 20px;
  }

/*-------------0ur LookBook Section-----------------*/
.our-lookbook-section {
    text-align: center;
}
.our-lookbook-section h1{
    font-family: "Cinzel", serif;
    font-weight: 600;
}
.underline-heading {
    width: 50px;
    margin: 0 auto;
    background-color: black;
    height: 3px;
    margin-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.overlay {
    position: relative;
    display: inline-block;
     
}

.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #060301cb; 
    height: 41vh;
    width: 370px;
}
.overlay-content-primary{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #060301cb; 
    height: 86vh;
    width: 370px;
}

.overlay:hover .overlay-content {
    opacity: 1;
}
.overlay:hover .overlay-content-primary{
    opacity: 1;
}

.overlay i {
    color: grey;
    font-size: 90px;
    text-align: center;
    align-items: center;
}


.img-pic-1 {
    left: 70px;
    top: 0;
}

.img-pic-2 {
    width: 400px;
    height: 42vh;
    left: 450px;
    top: -368px;
}

.img-pic-3 {
    left: 870px;
    top: -763px;
}

.img-pic-4 {
    left: 100px;
    top: -730px;
}

.img-pic-5 {
    width: 400px;
    height: 42vh;
    top: -329px;
    left: 30px;
}

.img-pic-6 {
    left: -46px;
    top: -726px;
}
